/* Only show checkboxes if js is enabled. */
#edit-filterwrapper {
  display: none;
}
html.js #edit-filterwrapper {
  display: block;
}

/* Checkboxes and Instant filter. */
#edit-filterwrapper  {
  margin: 0 0 10px;
  padding: 0;
  text-align: center;
}
#edit-filterwrapper .form-type-instantfilter {
  float: none;
  text-align: center;
  margin: 0;
  padding: 0;
  width: auto;
}
#edit-filterwrapper .form-type-instantfilter input {
  width: 30%;
}
#edit-filterwrapper .form-type-checkbox {
  display: inline;
  padding: 0 5px;
}

/* Collapsed permissions, configure and help links. */
td .item-list ul,
td .item-list ul li {
  list-style-type: none;
  margin: 0;
}

/* Give the table inside the vertical tabs pane a bit more room. */
div.vertical-tabs fieldset .fieldset-wrapper {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

/* Submit button. */
div.vertical-tabs ul li.module-filter-submit {
  border-top: 1px solid #CCCCCC;
  display: block;
  list-style: none;
  padding: 10px;
}
div.vertical-tabs ul li.module-filter-submit #edit-actions {
  margin-bottom: 0;
}

/* Vertical tabs summary. */
.module-fieldset-count,
.module-fieldset-list,
.selected .module-fieldset-matches {
  display: none;
}
.selected .module-fieldset-count,
.selected .module-fieldset-list {
  display: inline;
}
div.vertical-tabs ul li.vertical-tab-button .summary {
  padding-top: 0;
}
div.vertical-tabs ul li.selected .summary {
  padding-top: 0.4em;
}
.module-fieldset-list,
.module-fieldset-matches {
  font-size: 0.923em;
}
.module-fieldset-matches {
  display: block;
  font-style: normal;
  position: absolute;
  right: 10px;
  text-align: right;
  top: 10px;
  width: 40px;
}

/* Tab search results. */
div.vertical-tabs ul li.no-matches {
  display: none;
}
div.vertical-tabs ul li.vertical-tab-button a {
  padding: 7px 10px;
  position: relative;
}
div.vertical-tabs ul li.vertical-tab-button strong {
  padding-right: 40px;
}
div.vertical-tabs ul li.vertical-tab-button strong.module-fieldset-count {
  padding-right: 0;
}
div.vertical-tabs ul li.selected a:focus strong.module-fieldset-count {
  text-decoration: none;
}
.has-matches {
  color: green;
}
.no-matches {
  color: red;
}

/* jQuery UI autocomplete. */
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  background-color: #0074bd;
  color: #ffffff;
}

/* Row colors for unsaved disabled/enabled modules. */
#system-modules tr.module-enabled { background-color: #e7ffcc; }
#system-modules tr.module-disabled { background-color: #ffe4d9; }
#system-modules tr.even.module-enabled { background-color: #dbffb2; }
#system-modules tr.even.module-disabled { background-color: #ffdacc; }
